<div class="bg-group">
  <div class="bg-shape bg-primary opacity-low"></div>
  <div class="bg-shape bg-secondary opacity-low"></div>
  <div class="bg-shape bg-tertiary opacity-low"></div>
  <div class="bg-shape bg-quaternary opacity-low"></div>
</div>

<div class="bg-group-2">
  <div class="bg-shape bg-primary opacity-low"></div>
  <div class="bg-shape bg-secondary opacity-low"></div>
  <div class="bg-shape bg-tertiary opacity-low"></div>
  <div class="bg-shape bg-quaternary opacity-low"></div>
</div>