<nav class="navbar-custom">
  <div class="d-flex justify-content-between">
    <%= link_to 'Blog', root_path, class: "navbar-logo" %>
    <div class="buttons d-flex">
      <button type="button" class="btn btn-login">Login</button>
      <%= link_to 'Sign up', signup_path, class: "btn btn-signup btn-outline-dark" %>
    </div>
  </div>
  <div class="hr"></div>
</nav>