<nav class="navbar-custom">
  <div class="d-flex justify-content-between">
    <a class="navbar-logo" href="#">Blog</a>
    <div class="buttons d-flex">
      <button type="button" class="btn btn-login">Login</button>
      <button type="button" class="btn btn-signup btn-outline-dark">Sign up</button>
    </div>
  </div>
  <div class="hr"></div>
</nav>