body
  font-family: 'IBM Plex Sans', sans-serif !important
  background-color: #FAFDF9 !important

.purple-link
  text-decoration: none !important
  color: #A532FF
  &:hover
    color: #68249c !important

.link-button
  margin-right: 32px
  font-size: 1.5em
  font-weight: 600
  text-decoration: none !important
  color: #A532FF
  &:hover
    color: #68249c !important

.article-link
  text-decoration: none !important
  color: inherit
  &:hover
    color: inherit !important