body
  font-family: 'IBM Plex Sans', sans-serif !important
  background-color: #FAFDF9 !important

.purple-link
  text-decoration: none 
  color: #A532FF
  &:hover
    color: #68249c 

.link-button
  margin-right: 32px
  font-size: 1.5em
  font-weight: 600
  text-decoration: none 
  color: #A532FF
  &:hover
    color: #68249c 

.article-link
  text-decoration: none 
  color: inherit
  &:hover
    color: inherit 

.link-no-style
  text-decoration: none  
  color: inherit !important
  &:hover
    color: inherit  !important
    
.link-badge
  margin-right: 0.5rem
  text-decoration: none 
  color: #e6e6e6
  background-color: #888888 !important
  &:hover
    color: #e6e6e6
    background-color: #474747 !important