.navbar-custom
  margin: 1rem 0 
  font-family: IBM Plex Mono
  font-style: normal
  color: #151515

.hr
  margin: 1rem 0
  border: solid 1px
  border-color: #151515

.navbar-logo
  font-weight: bold
  font-size: 3rem
  text-decoration: none !important
  color: #151515
  &:hover
    color: inherit !important

.buttons
  align-items: center

.btn-login
  font-weight: bold !important
  margin-left: 25px 
  font-size: 1.5rem !important

.btn-signup
  border-radius: 9px !important
  border: 2px solid !important
  margin-left: 25px 
  font-size: 1.5rem !important

/* Dropdown */

.font-dropdown
  font-size: 1.75rem
  font-weight: 500

.dropdown-menu
  padding: 1rem !important