<h1>Categories</h1>

<div class="col-12">
  <% @categories.each do |category| %>
    <h1 class="title-font"> <%= link_to category.name, category_path(category), class: "link-no-style" %> </h1>
  <% end %>
</div>

<% if logged_in? && current_user.admin? %>
  <%= link_to 'Criar categoria', new_category_path, class: "link-button" %>
<% end %>

<div class="pagination-style">
  <%= will_paginate @categories, :container => false %>
</div>